<% provide :title, t(".manage_notification") %>
<div class="container">
  <div class="contact-left-block">
    <h3><%= raw t(".all_notifications") %></h3>
    <% if is_staff? %>
      <div class="text-right">
        <%= link_to t(".new_notification"), new_admin_notification_path,
          class: "book-now-btn" %>
      </div>
    <% end %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t ".id_notification" %></th>
          <th><%= t ".customer_id" %></th>
          <th><%= t ".content_notification" %></th>
          <th><%= t ".create_at" %></th>
          <% if is_staff? %>
            <th><%= t ".action" %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <%= render @notifications %>
      </tbody>
    </table>
    <%= paginate @notifications, theme: "twitter-bootstrap-3" %>
  </div>
</div>
