<% provide :title, t(".bills_management") %>
<div class="container">
  <div class="contact-left-block">
    <h3><%= raw t(".all_bills") %></h3>
    <table class="table">
      <thead>
        <tr>
          <th><%= t ".id" %></th>
          <th><%= t ".code" %></th>
          <th><%= t ".booking_id" %></th>
          <th><%= t ".customer" %></th>
          <th><%= t ".amount" %></th>
          <th><%= t ".action" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @bills %>
      </tbody>
    </table>
  </div>
  <%= paginate @bills, theme: "twitter-bootstrap-3" %>
  <form>
    <label><%= t ".month"%></label>
    <input type="text" name="month_year" class="form-control datepicker"
      value="<%= params[:month_year] %>">
    <input type="submit" value="<%= t ".filter" %>" class="submit-btn">
  </form>
</div>
