<h1><%= t ".header" %></h1>

<p><%= t ".click_link" %></p>

<%= link_to t(".reset_link"),
  edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p><%= t ".content_p" %></p>

<p><%= t ".content_p2" %></p>
