<% provide :title, t(".rooms_management") %>
<div class="container">
  <div class="contact-left-block">
    <h3><%= raw t(".all_rooms") %></h3>
    <% if is_admin? %>
      <div class="text-right">
        <%= link_to t(".new_room"), new_admin_room_path,
          class: "book-now-btn" %>
      </div>
    <% end %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-1"><%= t ".id" %></th>
          <th class="col-md-1"><%= t ".label" %></th>
          <th class="col-md-1"><%= t ".image" %></th>
          <th class="col-md-1"><%= t ".status" %></th>
          <th class="col-md-1"><%= t ".floor" %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @rooms %>
      </tbody>
    </table>
  </div>
  <%= paginate @rooms, theme: "twitter-bootstrap-3" %>
</div>
