<tr class="user-row">
  <td><%= user.id %></td>
  <td>
    <%= link_to user, class: "user-name" do %>
      <%= gravatar_for user, size: Settings.gravatar_size %>
      <%= user.name %>
    <% end %>
    <% if user.admin? %>
      <span class="label label-danger"><%= t "users.admin" %></span>
    <% elsif user.staff? %>
      <span class="label label-primary"><%= t "users.staff" %></span>
    <% end %>
  </td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <% if current_user&.admin? %>
    <td></td>
  <% end %>
</tr>
