<div class="col-md-4">
  <div class="room-image-wrapper">
    <div class="single-rooms">
      <div class="room-info text-center">
        <%= image_tag first_image_link(room), class: "media-object" %>
        <h2>
          <%= link_to room.label, room %>
        </h2>
        <label class="label label-<%= class_type room.status %> text-uppercase">
          <%= room.status %>
        </label>
        <h3><%= room.category.name %></h3>
        <div class="text-center">
          <b><%= t ".floor", floor: room.floor %></b><br>
          <b><%= number_to_currency room.category.price %></b>
        </div>
      </div>
      <div class="room-overlay">
        <div class="overlay-content">
          <% room.images.each do |image| %>
            <% if image.image_link.present? %>
              <%= image_tag image.image_link, class: "image-rooms-home",
                size: Settings.room_image_medium_size %>
            <% end %>
          <% end %>
          <br>
          <%= link_to new_booking_path(id: room.id), class: "submit-btn"  do %>
            <i class="fa fa-shopping-cart"></i> <%= t ".book_now" %>
          <% end %>
          <%= link_to :preview, room, class: "submit-btn" %>
        </div>
      </div>
    </div>
  </div>
</div>
