<div class="product-desc-side">
  <h3>
    <%= link_to room do %>
      <%= room.label %> [<%= room.status %>]
    <% end %>
  </h3>
  <p class="text-justify">
    <%= room.category.name %><br>
    <%= room.category.description %><br>
    <%= room.floor %>
  </p>
  <div class="links">
    <a href="#"><%= t ".book_now" %></a>
  </div>
</div>
