<section class="user-home-wrapper">
  <div class="inner-wrapper">
    <h1><%= @room.label %></h1>
    <ul>
      <li><%= t ".floor", floor: @room.floor %></li>
      <li><%= @room.category.name %></li>
    </ul>
  </div>
</section>
<div class="container">
  <div class="galery">
    <% @room.images.each do |image| %>
      <%= image_tag image.image_link.url, class: "image-galery" %>
    <% end %>
  </div>
  <div class="text-center">
    <%= link_to new_booking_path(id: @room.id), class: "submit-btn"  do %>
      <i class="fa fa-shopping-cart"></i> <%= t ".book_now" %>
    <% end %>
  </div>
</div>
