<tr>
  <td><%= category.name %></td>
  <td><%= category.price %></td>
  <td><%= l category.created_at, format: :own %></td>
  <% if current_user&.admin? %>
    <td>
      <span class="glyphicon glyphicon-trash">
        <%= link_to t(".delete"), category, method: :delete, data: {confirm: t(".confirm")} %>
      </span> |
      <span class="glyphicon glyphicon-cog">
        <%= link_to t(".edit"), edit_category_path(category) %>
      </span>
    </td>
  <% end %>
</tr>
