<div class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6"><div class="social-grid">
        <ul class="list-unstyled text-right">
          <li><a><i class="fa fa-facebook"></i></a></li>
          <li><a><i class="fa fa-twitter"></i></a></li>
          <li><a><i class="fa fa-linkedin"></i></a></li>
          <li><a><i class="fa fa-instagram"></i></a></li>
          <li><a><i class="fa fa-google-plus"></i></a></li>
          <li><a><i class="fa fa-youtube-play"></i></a></li>
        </ul>
      </div></div>
    </div>
  </div>
</div>

<header class="header-container">
  <div class="container">
    <div class="top-row">
      <div class="row">
        <div class="col-md-2 col-sm-6 col-xs-6">
          <div id="logo">
            <%= link_to raw(t ".web_name"), root_path %></a>
          </div>
        </div>
        <div class="col-sm-6 visible-sm">
          <div class="text-right"><button type="button" class="book-now-btn"><%= t ".book_now" %></button></div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 remove-padd">
          <nav class="navbar navbar-default">
            <div class="navbar-header page-scroll">
              <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">
              <ul class="list-unstyled nav1 cl-effect-10">
                <li>
                  <%= link_to root_path, data: {hover: t(".home")},
                    class: "#{'active' if current_page?(root_path)}" do %>
                    <span><%= t ".home" %></span>
                  <% end %>
                </li>
                <li><a data-hover="<%= t ".about" %>" href="#"><span><%= t ".about" %></span></a></li>
                <li><a data-hover="<%= t ".rooms" %>" href="#"><span><%= t ".rooms" %></span></a></li>
                <li><a data-hover="<%= t ".contact_us" %>" href="#"><span><%= t ".contact_us" %></span></a></li>
                <% if logged_in? %>
                  <% if current_user.admin? %>
                    <li>
                      <%= link_to categories_path, data: {hover: t(".manage_category")},
                        class: "#{'active' if current_page?(categories_path)}" do %>
                        <span><%= t ".manage_category" %></span>
                      <% end %>
                    </li>
                  <% end %>
                  <li>
                    <%= link_to current_user, data: {hover: t(".dashboard")},
                      class: "#{'active' if current_page?(current_user)}" do %>
                      <span><%= t ".dashboard" %></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to edit_user_path(current_user),
                      data: {hover: t(".setting")}, class: "#{'active' if
                      current_page?(edit_user_path(current_user))}" do %>
                      <span><%= t ".setting" %></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to logout_path, data: {hover: t(".log_out")},
                      method: :delete do %>
                      <span><%= t ".log_out" %></span>
                    <% end %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to login_path, data: {hover: t(".log_in")},
                      class: "#{'active' if current_page?(login_path)}" do %>
                      <span><%= t ".log_in" %></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to signup_path, data: {hover: t(".sign_up")},
                      class: "#{'active' if current_page?(signup_path)}" do %>
                      <span><%= t ".sign_up" %></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
          <div class="text-right">
            <button type="button" class="book-now-btn">
              <%= t ".book_now" %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
