<div class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6"><div class="social-grid">
        <ul class="list-unstyled text-right">
          <li><a><i class="fa fa-facebook"></i></a></li>
          <li><a><i class="fa fa-twitter"></i></a></li>
          <li><a><i class="fa fa-linkedin"></i></a></li>
          <li><a><i class="fa fa-instagram"></i></a></li>
          <li><a><i class="fa fa-google-plus"></i></a></li>
          <li><a><i class="fa fa-youtube-play"></i></a></li>
        </ul>
      </div></div>
    </div>
  </div>
</div>

<header class="header-container">
  <div class="container">
    <div class="top-row">
      <div class="row">
        <div class="col-md-2 col-sm-6 col-xs-6">
          <div id="logo">
            <a href="index.html"><%= raw t(".web_name") %></a>
          </div>
        </div>
        <div class="col-sm-6 visible-sm">
          <div class="text-right"><button type="button" class="book-now-btn"><%= t ".book_now" %></button></div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 remove-padd">
          <nav class="navbar navbar-default">
            <div class="navbar-header page-scroll">
              <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>
            <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">
              <ul class="list-unstyled nav1 cl-effect-10">
                <li><a data-hover="<%= t ".home" %>" class="active" href="#"><span><%= t ".home" %></span></a></li>
                <li><a data-hover="<%= t ".about" %>" href="#"><span><%= t ".about" %></span></a></li>
                <li><a data-hover="<%= t ".rooms" %>" href="#"><span><%= t ".rooms" %></span></a></li>
                <li><a data-hover="<%= t ".contact_us" %>" href="#"><span><%= t ".contact_us" %></span></a></li>
                <li><a data-hover="<%= t ".log_in" %>" href="#"><span><%= t ".log_in" %></span></a></li>
                <li><a data-hover="<%= t ".sign_up" %>" href="#"><span><%= t ".sign_up" %></span></a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
          <div class="text-right"><button type="button" class="book-now-btn"><%= t ".book_now" %></button></div>
        </div>
      </div>
    </div>
  </div>
</header>
